
.navbar-brand{
    background: #4aaaa5;
    color: #ffffff; /*not working*/
    font-family: 'Times New Roman', Times, serif;
    padding: 0 20px;
}
.navbar-nav{
    float: right;
}
.nav-item{
    float: right;
}